@import url(fonts/font.css);
html{background: url(../img/background.png);}
*{font-family: "Martel sans"; color:#bdc3c7; margin: 0; padding: 0; text-decoration: none; font-style: 100;}
h1{color: #f1c40f;}
.page-link{
    padding: 5px 5px 5px 5px;
    background: rgba(84, 84, 84, 0.71);
    margin-left: 4px;
    width: 20px;
    display: block;
    line-height: 23px;
    float: left;
    height: 20px;
    text-align: center;
    border: 1px solid rgb(95, 95, 95);
}
.page-link:hover{
    background: rgb(56, 55, 55);
    border: 1px solid rgb(125, 125, 125);
}

table.data{
    background: rgb(228, 228, 228);
    border-collapse: collapse;
    width: 100%;
}
.data input{
    width: 100%;
}
.data td{
    padding: 10px 0 10px 0;
}
.data th{
    text-transform: capitalize;
    padding: 16px;
    background :rgb(241, 196, 15);
}
.data *{
    color: rgb(72, 72, 72);
}
.data tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.data tbody tr:nth-child(2n-1) {
    background-color: rgb(245, 245, 245);
    transition: all .125s ease-in-out;
}

